<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>Metaphor Generation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <style>
        body {
            background-image: url('../static/background.png');
            background-size: cover;
        }

        .center_div {
            margin: 0 auto;
            width: 50%
                /* value of your choice which suits your alignment */
        }

        h1 {
            font-family: 'Poppins', sans-serif;
        }

        label,
        input,
        p,
        button {
            font-family: 'Barlow', sans-serif;
        }

        #sticky-footer {
            flex-shrink: none;
        }

        .options-style {
            max-width: fit-content;
        }
    </style>

</head>

<body>
    <form action="{{ url_for('show_domains') }}" class="center_div" method="POST">
        <br>
        <h1>Metaphor Generator</h1> <br>
        <div style="{{input_show}}">
            <label for="enthinput">Input</label>
            <textarea name="enthinput" class="form-control" placeholder="{{input}}" id="enthinput" rows="3"></textarea>
            <br>
        </div>
        <p> {{first_el}} <mark><b>{{second_el}}</b></mark> {{third_el}}</p>
        <button type="submit" class="btn btn-success" style="{{show_domains}}">Show Domains</button> <br>
    </form>

    <form action="{{ url_for('show_domains') }}" class="center_div" method="POST">

        <div class="input-group mb-3">
            <div class="input-group-prepend" style="{{dropdown_show}}">


                <!--<label for="modelselector">Select the TARGET domain</label>-->
                <div style="dropdown_showtime">
                    <select name="modelselector" id="modelselector" class="form-select">
                        <option selected>Select the TARGET domain</option>
                        {% for i in options%}
                        <option>{{i}}</option>
                        {% endfor %}


                    </select>
                </div><br>
            </div>
            <div style="{{target_selection_show}}">
                <p>TARGET domain: <mark><b>{{target_domain_selection}}</b></mark> </p>
            </div>
            <!--<input type="text" class="form-control" placeholder="Select a source domain" aria-label="Username" style="display: none;">-->
        </div>

        <button type="submit" class="btn btn-success" style="{{continue_show}}">Continue</button>
    </form>
    <form action="{{ url_for('show_domains') }}" class="center_div" method="POST">

        <div style="{{gen_button}}">
            <div class="card" style="background-color:transparent; border:0;">
                <label>Select a SOURCE domain</label>

                <div class="btn-group btn-group-toggle form-control" data-toggle="buttons">
                    <div class="options-style">
                        {%for i in possible_sources%}
                        <div class="btn active" role="button">
                            <input type="radio" name="options" id="options" value="{{possible_sources.index(i)}}"
                                required="required">{{i}}

                        </div>
                    
                        {%endfor%}
                    </div>
                    
                </div>
                <label for="other">Other</label>
                <input type="text" class="form-control" id="other" placeholder="Other SOURCE domain..."><br>
            </div>
        </div>

        <br><br>



        </div>

        <button type="submit" class="btn btn-success" style="{{gen_button}}">Generate</button>
    </form>
    <br>
    <br>
    <br>

    <p class="lead center_div">{{argument}}</p>















    <footer id="sticky-footer" class="py-4 text-black-50">
        <div class="container text-center">
            <small>Copyright &copy; Created by Aadit Trivedi & Tuhin Chakrabarty</small>
        </div>
    </footer>

</body>

</html>

<script src="{{url_for('static', filename='tether.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery.twbs-toggle-buttons.min.js')}}"></script>

<script>
    $(".btn-group-toggle").twbsToggleButtons();
</script>